


/**********estilos generales**********/

@font-face{
    font-family: DroidSans;
    src: url("fuentes/DroidSans-Bold.ttf");
}
body {
    margin: 0;
    font-family: DroidSans;
}
header{
    background-position: right;
    background-image: url("imagenes/cabecera.jpg");
    height: 280px;
    background-size: cover;
    position: relative;
}

/***********estilos del nav***********/
.topnav {
  overflow: hidden;
  background-color: #333;
}
  
.topnav a {
  float: left;
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.topnav a.active {
  background-color: #333;
  color: white;
}
  
.topnav .icon {
  display: none;
}

/********estilo del main********/
main h1{
  color: palevioletred;
  text-align: center;
}

main img{
  padding: 10px;
  margin-left: 5%;
  width: 25%;
}  
/***********estilos del footer********/
footer{
  background-color: #333;
  color: white;
  padding: 1%;
}
footer p{
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

/*******media queri*******/
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
  
@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  main img{
    padding: 10px;
    margin-left: 5%;
    width: 40%;
  }
  
}
@media screen and (max-width: 550px) {
    header{
      background-image: url("imagenes/cabecera2.jpg");
      height: 700px;
      position: relative;
  }
  main img {
    padding: 10px;
    margin-left: 10%;
    width: 75%;
  }
}
